In [1]:
import pagexml
import pandas as pd
import glob
import os

In [2]:
file = pd.read_csv('/home/waqas/projects/data-european-accident-statement/annotate_signatures/signatures.csv', header=None)
file.columns = ['classes', 'xml']

  classes             xml
0   other  DIGITEXX-0022-
1   other  DIGITEXX-0023-
2   other  DIGITEXX-0024-
3   other  DIGITEXX-0025-
4   other  DIGITEXX-0027-

In [3]:
for index, row in file.iterrows():
    xmlbase = row[1]
    classes = row[0]
    name = glob.glob('/home/waqas/projects/data-european-accident-statement/aligned/*/'+xmlbase+'*.xml')
    for xml in name:
        try:
            pxml = pagexml.PageXML(xml)
            reg = pxml.selectByID('r22')
            pxml.setProperty(reg, 'class', classes)
            pxml.write(xml)
        except:
            print(xml)