In [29]:
import pandas as pd
import csv
import os
import glob

# Heading
Looping through ground truthed txt files and constructing a dataframe. It has four columns with 'extra' being a column containing the second number plate for the same image.

In [54]:
os.chdir('/home/waqas/sandbox/bas/bas1/input/')

filelist = []
filesList = []

for files in glob.glob("gt/*.txt"):
    filelist.append(files)
    filesList.append(files)

df_gt = pd.DataFrame()
for file in filelist:
    frame = pd.read_csv(file,header=None,index_col=None)
    frame['filename'] = file[3:].strip('.jpg.txt')
    frame['filename'] = frame['filename'].astype(str) + '.plate'
    df_gt = df_gt.append(frame)

df_gt.columns = ('type', 'num_plate','filename','extra')
columns1 = ['filename', 'num_plate', 'type', 'extra']
df_gt = df_gt.reindex(columns=columns1)
df_gt.head()

                               filename  num_plate type extra
0  Schadenbild7605799005069298252.plate  ZH 534005    p   NaN
0  Schadenbild8274037992390839155.plate  BE 113312    r   NaN
0  Schadenbild6934044350634881206.plate        NaN    n   NaN
0   Schadenbild220789365068531090.plate   ZH264693    p   NaN
0  Schadenbild7340812035725409728.plate  TS 452584    c   NaN

# Heading
Getting only filenames and number plates columns. 'Type' and 'extra' columns are not important for generating a ground truth file which is served as input to text_recognition_report.py. Later all the types added to number plates are removed and dataframe is saved in form of a txt file which is actual ground truthed txt file

In [55]:
df_gt = df_gt[['filename', 'num_plate']]
df_gt.head()

                               filename  num_plate
0  Schadenbild7605799005069298252.plate  ZH 534005
0  Schadenbild8274037992390839155.plate  BE 113312
0  Schadenbild6934044350634881206.plate        NaN
0   Schadenbild220789365068531090.plate   ZH264693
0  Schadenbild7340812035725409728.plate  TS 452584

In [56]:
df_gt = df_gt.fillna(value=' ')
stripped = df_gt['num_plate'].str.replace(' |u|p|r|n', ' ')

In [57]:
df_gt['num_plate'] = stripped
df_gt.head()

                               filename  num_plate
0  Schadenbild7605799005069298252.plate  ZH 534005
0  Schadenbild8274037992390839155.plate  BE 113312
0  Schadenbild6934044350634881206.plate
0   Schadenbild220789365068531090.plate   ZH264693
0  Schadenbild7340812035725409728.plate  TS 452584

In [58]:
df_gt['num_plate'].str.replace(' ', '<empty/>')

0                                     ZH<empty/>534005
0                                     BE<empty/>113312
0                                             <empty/>
0                                             ZH264693
0                                     TS<empty/>452584
0                                      FA<empty/>557BT
0                                      ZH<empty/>62982
0                                      BE<empty/>24470
0                                     BE<empty/>468693
0                                             <empty/>
0                                      YS<empty/>83820
0                                     SG<empty/>295974
0                                                  NaN
0                                     ZH<empty/>632974
0                                     BL<empty/>127479
0                                          ZH<empty/>3
0                                      BF<empty/>146ML
0                                       NW<empty/>3565
0                                     SO<empty/>157379
0                                      BL<empty/>63470
0                                             <empty/>
0                                             <empty/>
0                                                  NaN
0                                     FR<empty/>163434
0    CD<empty/>BE<empty/>1057<empty/><empty/><empty...
0                                             <empty/>
0                                      DZ<empty/>738CV
0     CD<empty/>BE1057<empty/><empty/><empty/><empty/>
0                                      ZG<empty/>49943
0                                             <empty/>
                           ...
0                                     ZH<empty/>498441
0                                                  NaN
0                                               08HVRV
0                                     TG<empty/>250385
0                                     AG<empty/>342747
0                                     VD<empty/>551380
0                                     LU<empty/>103538
0                              <empty/>SG<empty/>51606
0                                      TI<empty/>74623
0                                              BL49667
0                                         AG<empty/>41
0                                             GE388208
0                                      SO<empty/>60947
0                                     LU<empty/>186802
0                                      SH<empty/>58488
0                                             BE513787
0                                          VD<empty/>7
0                                     SG<empty/>433228
0                                     BE<empty/>273072
0                                             <empty/>
0                                      CY<empty/>983KT
0                                      FR<empty/>46464
0                                     VS<empty/>414260
0                                     FR<empty/>280389
0                                     AG<empty/>439924
0                                     LU<empty/>191306
0                                      AG<empty/>39013
0                                                  NaN
0                                        VD<empty/>139
0                              SI<empty/>285<empty/>GV
Name: num_plate, Length: 578, dtype: object

In [34]:
ground_truth = df_gt.to_csv('gt_file.tab', sep='\t', header=None, index=False)