In [1]:
import pandas as pd
import csv
import glob
import os

# Heading 
Looping through ground truthed txt files and constructing a dataframe. It has four columns with 'extra' being a column containing the second number plate for the same image.

In [2]:
os.chdir('/home/waqas/sandbox/bas/bas1/input/gt/')

filelist = []

for f in glob.glob('*.txt'):
    filelist.append(f)

df_gt = pd.DataFrame()
for file in filelist:
    frame = pd.read_csv(file,header=None,index_col=None)
    frame['filename'] = file[0:].strip('.jpg.txt|/')
    df_gt = df_gt.append(frame)

df_gt.columns = ('type', 'num_plate','filename','extra')
columns1 = ['filename', 'num_plate', 'type', 'extra']
df_gt = df_gt.reindex(columns=columns1)
df_gt = df_gt.drop(['extra'], axis=1)
df_gt['num_plate'] = df_gt['num_plate'].str.replace(" ","")
df_gt

/home/waqas/.local/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

                          filename num_plate type
0   Schadenbild7605799005069298252  ZH534005    p
0   Schadenbild8274037992390839155  BE113312    r
0   Schadenbild6934044350634881206       NaN    n
0    Schadenbild220789365068531090  ZH264693    p
0   Schadenbild7340812035725409728  TS452584    c
0   Schadenbild3769606345366669730   FA557BT    r
0   Schadenbild1461485534600622354   ZH62982    r
0   Schadenbild4578140764218847749   BE24470    r
0   Schadenbild3747191521532998634  BE468693    r
0   Schadenbild8961963970078956054       NaN    n
0   Schadenbild2557240692109529206   YS83820    p
0   Schadenbild1376576129255381914  SG295974    p
0   Schadenbild7867071451476574656       NaN    c
0   Schadenbild7317612325297848367  ZH632974    p
0   Schadenbild5167683083626896453  BL127479    p
0    Schadenbild608824827419271675       ZH3    c
0   Schadenbild5151061022581560775   BF146ML    p
0   Schadenbild6380628680337320868    NW3565    p
0   Schadenbild1680551610941997098  SO157379    r
0   Schadenbild3914387000298007362   BL63470    c
0     Schadenbild26671449054088192       NaN    n
0   Schadenbild8824864629096086471       NaN    n
0   Schadenbild5325000213096113607       NaN    c
0   Schadenbild7524319416581997386  FR163434    p
0   Schadenbild4566712249965129694  CDBE1057    p
0   Schadenbild4975866735548555965       NaN    n
0   Schadenbild5116532704733849955   DZ738CV    p
0   Schadenbild8480349092434218985  CDBE1057    p
0   Schadenbild5019424880888640189   ZG49943    p
0   Schadenbild3810011946511751838       NaN    n
..                             ...       ...  ...
0   Schadenbild9088119787852287933  ZH498441    p
0      Schadenbild8005238276420996       NaN    c
0   Schadenbild4804823900726281791    08HVRV    p
0   Schadenbild3619706449380833745  TG250385    p
0   Schadenbild8615535854003614726  AG342747    r
0   Schadenbild7270769993741448494  VD551380    p
0   Schadenbild8829935083731244329  LU103538    p
0   Schadenbild3351911250926793846   SG51606    r
0   Schadenbild1924403385960767429   TI74623    p
0   Schadenbild2635053794608365591   BL49667    p
0   Schadenbild7596624221275724825      AG41    c
0   Schadenbild1116165770058431072  GE388208    u
0   Schadenbild1122845239448673173   SO60947    p
0   Schadenbild6772096633307942233  LU186802    p
0   Schadenbild2700225903783303954   SH58488    p
0    Schadenbild148262348156925057  BE513787    u
0   Schadenbild6612914930187024892       VD7    c
0   Schadenbild4555085235385417046  SG433228    r
0   Schadenbild6810371171327713254  BE273072    u
0   Schadenbild5761045227760104013       NaN    n
0   Schadenbild8535724738604130154   CY983KT    p
0    Schadenbild526570268815409228   FR46464    c
0   Schadenbild7526468249640021528  VS414260    u
0    Schadenbild564230796749287594  FR280389    p
0   Schadenbild2869004481151303414  AG439924    u
0   Schadenbild1937093967264704261  LU191306    u
0   Schadenbild8596105856813009530   AG39013    p
0   Schadenbild1008743278292901040       NaN    c
0   Schadenbild2206821124176470788     VD139    p
0   Schadenbild2078074948076824493   SI285GV    u

[578 rows x 3 columns]

In [3]:
df_gt = df_gt[df_gt.type != 'n']
df_gt = df_gt[df_gt.type != 'c']
df_gt.head()

                         filename num_plate type
0  Schadenbild7605799005069298252  ZH534005    p
0  Schadenbild8274037992390839155  BE113312    r
0   Schadenbild220789365068531090  ZH264693    p
0  Schadenbild3769606345366669730   FA557BT    r
0  Schadenbild1461485534600622354   ZH62982    r

In [4]:
df_gt = df_gt.drop(['num_plate', 'type'], axis=1)
df_gt.head()

                         filename
0  Schadenbild7605799005069298252
0  Schadenbild8274037992390839155
0   Schadenbild220789365068531090
0  Schadenbild3769606345366669730
0  Schadenbild1461485534600622354

In [58]:
# df_gt['filename'] = df_gt['filename'].apply(lambda x: x + '.jpg')
# df_gt.head()

In [5]:
# df_gt.to_csv('without_c_n.lst', header=None, index=None)
os.chdir('/home/waqas/sandbox/bas/bas1/input/')

df_gt_with_type_txt = pd.read_csv('gt_with_type.txt', sep='\t', header=None)
df_filtered = pd.read_csv('sel.lst',sep='.', header=None)

df_filtered.columns = ['filename', 'gar']
df_filtered = df_filtered.drop(['gar'], axis=1)
df_filtered

df_gt_with_type_txt.columns = ['filename', 'gt_num_plate', 'type']
df_final_with_type = df_gt_with_type_txt.merge(df_filtered, left_on='filename', right_on='filename', how='inner')

df_final_with_type.to_csv('filtered_gt_with_type.txt', sep='\t', header=None)

In [12]:
# df_final_with_type.type.value_counts()
df_final_with_type.filename.loc[(df_final_with_type.type == 'n')]

13     Schadenbild8824864629096086471
19     Schadenbild3810011946511751838
95     Schadenbild7513520603643342586
116    Schadenbild4969020931793379584
299    Schadenbild5990971444226983399
318    Schadenbild2045817236894522993
Name: filename, dtype: object

# Heading
Dropping 'extra' column as it is decided not to consider 2 number plates in single image. Later taking value counts for each type (e.g, perpective, upright, cut, rotated and null). The dataframe reutrns the total number of ground truthed files with respect to types.

In [34]:
col = ['filename', 'num_plate', 'type', 'extra']
df_gt.columns = col
df_gt = df_gt.drop(['extra'], axis=1)
df_gt.type.value_counts()

p    293
u    101
c     72
r     62
n     50
Name: type, dtype: int64

# Heading
Reading predicted results file and naming columns based upon filename, confidence score and number plate

In [3]:
os.chdir('/home/waqas/sandbox/bas/bas1/output_openalpr_freeVersion/')

df_predicted = pd.read_csv('predicted_results',sep='\t',header=None, skiprows=1)
df_predicted.columns = ['filename', 'conf', 'plate_pred']
df_predicted['filename'] = df_predicted['filename'].str.strip('.plate')
df_predicted.head()

                         filename       conf plate_pred
0  Schadenbild3372213352101753222  85.605057   FR253226
1  Schadenbild2698757183861425305  81.528679     Z222SX
2  Schadenbild2869004481151303414  87.908417   AG439924
3  Schadenbild2783485776559688916  85.977821      W3158
4  Schadenbild1210737586170869359  85.797668     SG3473

In [4]:
df_both = df_gt.merge(df_predicted, left_on='filename', right_on='filename', how='inner')
df_both.head()

,filename,num_plate,type,extra,conf,plate_pred
0,Schadenbild7605799005069298252,ZH 534005,p,NaN,80.528732,7H405
1,Schadenbild5325000213096113607,398989,c,NaN,76.868996,709I4
2,Schadenbild7524319416581997386,FR 163434,p,NaN,84.858276,FR163434
3,Schadenbild4566712249965129694,CD BE 1057,p,NaN,87.459404,LJ779BD
4,Schadenbild5019424880888640189,ZG 49943,p,NaN,86.661530,ZG49943

In [5]:
df_both.type.value_counts()

u    70
p    57
r     5
c     3
Name: type, dtype: int64

# Heading
Applying lambda function to remove '.plate' and get proper filename

In [6]:
df_predicted['filename'] = df_predicted['filename'].apply(lambda x: x.split(".")[0])
df_predicted

NameError: name 'df_predicted' is not defined

# Heading
Merging ground truthed and predicted dataframes to get the predicted files and later grouping them according to the type e.g. rotated, cut etc

In [32]:
df_big = df_gt.merge(df_predicted, left_on='filename', right_on='filename', how='inner')
df_big.head()

                         filename  num_plate type       conf     plate
0  Schadenbild5290250796500415341  BE 201701    u  89.068985  BE2O17O1
1  Schadenbild1022288219733023321   VD546817    p  85.940987  VD546817
2  Schadenbild3940512606001360753  BE 662536    u  82.488098     BE662
3  Schadenbild4427576174547642065  CDBE 1057    u  86.559959    BE1O57
4   Schadenbild121998990212886286   FR163434    u  86.080544  FR163434

In [33]:
df_big.groupby(df_big['type']).count()

      filename  num_plate  type  conf  plate
type
c            3          3     3     3      3
p           57         57    57    57     57
r            5          5     5     5      5
u           71         71    71    71     71

# Heading
Applying lambda function to add '.jpg' extension so that files can be visualized with respect to their images. The output is saved as txt file for each of type. 'df_big' returns dataframe with file names that are predicted by the algorithm. 'df_big_empty' returns dataframe with file names which were predicted with no results by the algorithm. Both of the dataframes are saved as txt files based upon types.

In [34]:
df_big['file'] = df_big['filename'].apply(lambda x: x + '.jpg')

In [35]:
# type_u = df_big[df_big['type'] == 'u']
# type_u.to_csv('u_type.txt', sep='\t', header=None, index=False, columns=['file'])

# type_r = df_big[df_big['type'] == 'r']
# type_r.to_csv('r_type.txt', sep='\t', header=None, index=False, columns=['file'])

# type_p = df_big[df_big['type'] == 'p']
# type_p.to_csv('p_type.txt', sep='\t', header=None, index=False, columns=['file'])

# type_c = df_big[df_big['type'] == 'c']
# type_c.to_csv('c_type.txt', sep='\t', header=None, index=False, columns=['file'])

In [36]:
df_big_empty = df_gt.merge(df_predicted, left_on='filename', right_on='filename', how='left')

In [37]:
df_big_empty = df_big_empty.fillna(-1)

In [38]:
df_big_empty = df_big_empty.loc[(df_big_empty['conf'] == -1 )]

In [39]:
df_big_empty.head()

                         filename  num_plate type  conf plate
0  Schadenbild1965007728552243488   LO SB 72    p  -1.0    -1
2  Schadenbild3790306548696500143  ZH 902345    p  -1.0    -1
3  Schadenbild4949620347752835242   BL 490C0    r  -1.0    -1
4   Schadenbild661096343270719382    OW 9011    p  -1.0    -1
5  Schadenbild3986600565622701331     FR 866    c  -1.0    -1

In [40]:
df_big_empty['file'] = df_big_empty['filename'].apply(lambda x: x + '.jpg')

In [41]:
# type_u_empty = df_big_empty[df_big_empty['type'] == 'u']
# type_u_empty.to_csv('u_type_empty.txt', sep='\t', header=None, index=False, columns=['file'])

# type_r_empty = df_big_empty[df_big_empty['type'] == 'r']
# type_r_empty.to_csv('r_type_empty.txt', sep='\t', header=None, index=False, columns=['file'])

# type_p_empty = df_big_empty[df_big_empty['type'] == 'p']
# type_p_empty.to_csv('p_type_empty.txt', sep='\t', header=None, index=False, columns=['file'])

# type_c_empty = df_big_empty[df_big_empty['type'] == 'c']
# type_c_empty.to_csv('c_type_empty.txt', sep='\t', header=None, index=False, columns=['file'])

In [42]:
df_big_empty.type.value_counts()

p    236
c     69
r     57
n     50
u     30
Name: type, dtype: int64